
*{
    margin: 0px;
    padding: 0px;
}
body { 
background:url("fondo.principal.JPEG");
}


#cabeza{
    width: 100%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
/*titulo de pagina*/
header{
    width: 100%;
    height: 250px;
    background: url(escudo.JPEG);
    background-repeat:no-repeat;
  
}
header h1{
    color: white;
    font-size: 65px;
    text-align: center;
    line-height: 150px;
}
/*menu de navegacion*/

nav{
    background:;
    height: 150px;
    margin: 20px auto;
    max-width: 90%;
    
}
nav ul{
    list-style: none;
}
nav > ul {
    display:table;
    overflow: hidden;
    width: 100%;
    position: relative;
    font-size: 25px;
    
}
nav > ul li{
    display: table-cell;
}
/*sub menu*/
nav > ul > li:hover > ul {
    display: block;
    height: 100%;
    
}
nav > ul > li > ul {
    display:none;
    position:;
    background: #174459;
    left:0 ;
    right: 0;
    overflow: hidden;
    height: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul li a{
    color: rgb(2, 1, 1);
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
nav > ul >li >ul >li a :hover{
    background: rgb(231, 33, 188);
}
nav >ul >li > a span{
    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: -55px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
nav >ul >li > a span .fas{
    display: block;
    line-height: 60px;
    color: aqua;
}
nav >ul >li > a span .fab {
    display: block;
    line-height: 60px;
    color: aqua;
}
nav >ul >li > a span  .far{
    display: block;
    line-height: 60px;
    color: aqua;
}
nav >ul >li > a:hover > span{
    top: 0;

}


nav h2{
    font-size: 40px;
    text-align: center;
    line-height: 2px;
    color: #fff;
 }
/*colores de logos*/
.min1 {
    color: #fff;
}
nav ul li a .primero {
    background: rgb(5, 3, 100);
}
nav ul li a .segundo {
    background: #6d9bf1;
}
nav ul li a .tercero{
    background: rgb(5, 3, 100);;
}
nav ul li a .cuarto{
    background: #6d9bf1;
}

/*inicio de pagina*/
#iniciopg {
    width: 95%;
    height: 0%;
    float:right;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
   text-align:center;
}
#iniciopg  ul{
list-style:none;
}
#iniciopg > ul{
    width: 100%;
    height: 0%;
    display:table;
    overflow: hidden;
}
#iniciopg > ul >li{
    display: table-cell;
    box-shadow: 5px 5px 0 0 rgb(0, 38, 59);

}
#iniciopg > ul >li p{
    margin-left: 10px;
    margin-right: 10px;
}
#iniciopg > ul >li h4{
    font-size: 35px;
   font-family:'Times New Roman', Times, serif;
   text-align:center;
   color: brown;
}
/*Contenido de pagina*/
#Contenido{
    width: 80%;
    height: 70%;
    float: right;
    background: ;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


#Contenido > article h2{
    font-size: 40px;
    height: 20px;
    padding: 20px;
   text-align: center;
   line-height: 1px;
   color: rgb(167, 16, 16); 
  
}
#Contenido h3{
    font-size: 30px;
    text-align: left ;
    line-height: 20px;
    color: rgb(167, 16, 16);
}
.cuerpo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

/*pie de pagina*/
footer{
    background:url(pie.JPEG);
    clear:both;
    
    
}
footer h2{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}
footer>h2 a{
    text-decoration: none;
    color: #000;
}
footer>p{
    color: #000;
    text-align: center;
}

