*{
    margin: 0px;
    padding: 0px;
}

body{
    background:rgba(178,200,218,0.39);
    height: auto;
}
/*-------------------------------------------------Menu de navegacion-------------*/
nav{
    float: right;
    margin: auto 0;
    width: 50%;
    /*max-width: 90%;*/
    height: 0px;
    
}
nav ul{
    list-style: none;
}
nav > ul {
    display:table;
    overflow: hidden;
    width: 100%;
    position: relative;
    font-size: 15px;
    height: 100%;
    
}
nav > ul li{
    display: table-cell;
}
/*sub menu*/
nav > ul > li > ul {
    display:none;
    overflow:hidden;
    width: 150px;
}

nav > ul > li:hover > ul {
    display: block;
    height: 50px;
    opacity: 0.5;
    transition: opacity 1s, box-shadow 1s;
    transform: scale(1,1);
    background: rgb(0, 139, 0);
}
nav > ul > li > ul:hover{
    opacity: 1;
    transform: scale(1.1,1.1);
    transition: opacity 1s,box-shadow 1s,transform 1s;
    background: rgb(221, 9, 9);

}
nav > ul > li > ul a{
    width: 100%;
    margin-left: 0px;
}

/*COntinuacion de menu de navegacion */
nav > ul li a{
    color: white;
    display: block;
    line-height: 20px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .13s ease;
}
nav > ul >li >ul >li a:hover{
    background: rgba(231, 106, 33, 0.356);
}
nav >ul >li > a span{
    background: #1744595d;
    display: block;
    height: 40px;
    width: 100%;
    left: 0;
    position: absolute;
    top: -35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
nav >ul >li > a span .fas{
    display: block;
    line-height: 40px;
    color: aqua;
}
nav >ul >li > a span .fab {
    display: block;
    line-height: 40px;
    color: aqua;
}
nav >ul >li > a span  .far{
    display: block;
    line-height: 40px;
    color: aqua;
}
nav >ul >li > a:hover > span{
    top: 0;

}


nav h2{
    font-size: 40px;
    text-align: center;
    line-height: 2px;
    color: #fff;
 }
/*colores de logos*/
.min1 {
    color: #fff;
}
nav ul li a .primero {
    background: rgb(5, 3, 100);
}
nav ul li a .segundo {
    background: #6d9bf1;
}
nav ul li a .tercero{
    background: rgb(5, 3, 100);;
}
nav ul li a .cuarto{
    background: #6d9bf1;
}
/*------------Encabezado------------------------------------------------*/
header{
    height:100px;
    overflow: hidden;
    
}
#tras{
    background:rgba(5, 27, 22, 0.651) ;
    width: 100%;
    height: 40px;
    position: absolute;

}
#cajaheader{
    background: url(../IMG/posiblefondo.jpg);
    width: 100%;
    height: 40px;
    position: absolute;
}
#logo{
    margin-top: 50px;
    display: inline;
    position: absolute;
    right: 12px;
    
}
h1{
    margin-top: 50px;
}
#Ancla{
    height: 700px;
    font-size: 20px;
    margin-left: 20px;
    color: rgb(7, 7, 7);

}

header{
    margin-bottom: 2px;
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 150px;
    line-height: 100px;
    color: rgb(7, 7, 7);
    
}
/*divicion de los horarios*/
#iniciopg {
    position: absolute;
    width: 100%;
    height: 0%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
   text-align:center;
}
#iniciopg  ul{
list-style:none;
}
#iniciopg > ul{
    width: 100%;
    height: 0%;
    display:table;
    overflow: hidden;
}
#iniciopg > ul >li{
    display: table-cell;
    box-shadow: 0px 0px;

}
#iniciopg > ul >li p{
    margin-left: 10px;
    margin-right: 10px;
}
#iniciopg > ul >li h4{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    color: rgb(5, 5, 5);

}


/*tablas de horarios*/

table{
    background: url(https://as2.ftcdn.net/v2/jpg/02/80/69/27/1000_F_280692767_M5iVFReQayFn9bvEPrvEw0FYvYu4Tx7f.jpg);
    border-radius: 10px;
    width: 75%;
    height: 45%;
    margin:auto;
    text-align: center;
    border-spacing:10px;

}

table td{
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(124, 180, 245);
    border:0px solid rgb(7, 2, 2);

}

table tr:hover{
    background: rgb(134, 184, 248);
    padding: 5px;
    border-radius: 10px;
    border:1px solid rgb(7, 2, 2);
}

.tabla1{
    position: relative;
    top:32px;
    margin: 1% auto;
    margin-left: 90px;
    margin-right: 10px;
}
.tabla2{
    position: relative;
    top:32px;
    margin: 1% auto;
    
}
.tabla3{
    position: relative;
    top:10px;
    margin: 1% auto;
    margin-left: 90px;
    margin-right: 10px;
}
.tabla4{
    position: relative;
    top:10px;
    margin: 1% auto;
    margin-left: 90px;

 
   border-spacing:10px;
   
  
   
}


.b:hover{
    background: none;
    
}
    
h3{
    text-align:center ;
}
footer{
    text-align: center;
    background:url(../IMG/foother.jpg);
    height: 10px;
}
button{
    position: relative;
    padding: 5px;
    border: 1px solid black;
    box-shadow: black  0px 0px 5px 1px;
}
button:hover{
    background: #5c8cec;

}
