*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(177, 177, 241);
    height: auto;

    
}
/*-------------------------------------------------Menu de navegacion-------------*/
nav{
    float: right;
    margin: auto 0;
    width: 50%;
    /*max-width: 90%;*/
    height: 0px;
    
}
nav ul{
    list-style: none;
}
nav > ul {
    display:table;
    overflow: hidden;
    width: 100%;
    position: relative;
    font-size: 15px;
    height: 100%;
    
}
nav > ul li{
    display: table-cell;
}
/*sub menu*/
nav > ul > li > ul {
    display:none;
    overflow:hidden;
    width: 150px;
}

nav > ul > li:hover > ul {
    display: block;
    height: 50px;
    opacity: 0.5;
    transition: opacity 1s, box-shadow 1s;
    transform: scale(1,1);
    background: rgb(0, 139, 0);
}
nav > ul > li > ul:hover{
    opacity: 1;
    transform: scale(1.1,1.1);
    transition: opacity 1s,box-shadow 1s,transform 1s;
    background: rgb(221, 9, 9);

}
nav > ul > li > ul a{
    width: 100%;
    margin-left: 0px;
}

/*COntinuacion de menu de navegacion */
nav > ul li a{
    color: white;
    display: block;
    line-height: 20px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .13s ease;
}
nav > ul >li >ul >li a:hover{
    background: rgba(231, 106, 33, 0.356);
}
nav >ul >li > a span{
    background: #1744595d;
    display: block;
    height: 40px;
    width: 100%;
    left: 0;
    position: absolute;
    top: -35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
nav >ul >li > a span .fas{
    display: block;
    line-height: 40px;
    color: aqua;
}
nav >ul >li > a span .fab {
    display: block;
    line-height: 40px;
    color: aqua;
}
nav >ul >li > a span  .far{
    display: block;
    line-height: 40px;
    color: aqua;
}
nav >ul >li > a:hover > span{
    top: 0;

}


nav h2{
    font-size: 40px;
    text-align: center;
    line-height: 2px;
    color: #fff;
 }
/*colores de logos*/
.min1 {
    color: #fff;
}
nav ul li a .primero {
    background: rgb(5, 3, 100);
}
nav ul li a .segundo {
    background: #6d9bf1;
}
nav ul li a .tercero{
    background: rgb(5, 3, 100);;
}
nav ul li a .cuarto{
    background: #6d9bf1;
}
/*------------Encabezado------------------------------------------------*/
header{
    height:100px;
    overflow: hidden;
    
}
#tras{
    background:rgba(5, 27, 22, 0.651) ;
    width: 100%;
    height: 40px;
    position: absolute;

}
#cajaheader{
    background: url(../IMG/posiblefondo.jpg);
    width: 100%;
    height: 40px;
    position: absolute;
}
#logo{
    margin-top: 50px;
    display: inline;
    position: absolute;
    right: 10px;
    
}
h1{
    margin-top: 50px;
}
#Ancla{
    height: 700px;
    font-size: 20px;
    margin-left: 20px;
    color: rgb(2, 0, 139);

}

header{
    margin-bottom: 2px;
    font-size: 35px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 150px;
    line-height: 100px;
    color: rgb(0, 0, 0);
    
}
/*divicion de los horarios*/
#iniciopg {
    position: absolute;
    width: 100%;
    height: 0%;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
   text-align:center;
}
#iniciopg  ul{
list-style:none;
}
#iniciopg > ul{
    width: 100%;
    height: 0%;
    display:table;
    overflow: hidden;
}
#iniciopg > ul >li{
    display: table-cell;
    box-shadow: px px 0 0;

}
#iniciopg > ul >li p{
    margin-left: 10px;
    margin-right: 10px;
}
#iniciopg > ul >li h4{
    font-size: 35px;
   font-family:'Times New Roman', Times, serif;
   text-align:center;
   color: brown;
}
/*tablas de horarios*/

table{
    border-radius: 50% solid black;
    width: 70%;
    margin:auto;
    border-collapse: collapse;
    text-align: center;
}

table td{
    padding: 15px;
    border: 1px solid rgb(204, 36, 36);
    border-radius: 20px;
}

table tr:hover{
    background: rgb(9, 128, 133);
}
.b:hover{
    background: none;
}
h3{
    text-align:center ;
}
footer{
    text-align: center;
    background:url(../IMG/foother.jpg);
    height: 10px;
}
button{
    position: relative;
    padding: 5px;
    border: 1px solid black;
    box-shadow: black  0px 0px 5px 1px;
}
button:hover{
    background: #335491;

}
