*{
    padding: 0%;
    margin: 0%;    
   }
   :root{
       --transform:translate(-1000px);
       --background: rgb(1, 48, 255);
   }
   body{
       background:rgba(178, 200, 218, 0.39);
       height: auto;
       
   }
   /*-------------------------------------------------Menu de navegacion-------------*/
   nav{
       float: right;
       margin: auto 0;
       width: 50%;
       /*max-width: 90%;*/
       height: 0px;
       
   }
   nav ul{
       list-style: none;
   }
   nav > ul {
       display:table;
       overflow: hidden;
       width: 100%;
       position: relative;
       font-size: 15px;
       height: 100%;
       
   }
   nav > ul li{
       display: table-cell;
   }
   /*sub menu*/
   nav > ul > li > ul {
       display:none;
       overflow:hidden;
       width: 150px;
   }
   
   nav > ul > li:hover > ul {
       display: block;
       height: 50px;
       opacity: 0.5;
       transition: opacity 1s, box-shadow 1s;
       transform: scale(1,1);
       background: rgb(0, 139, 0);
   }
   nav > ul > li > ul:hover{
       opacity: 1;
       transform: scale(1.1,1.1);
       transition: opacity 1s,box-shadow 1s,transform 1s;
       background: rgb(221, 9, 9);
   
   }
   nav > ul > li > ul a{
       width: 100%;
       margin-left: 0px;
   }
   
   /*COntinuacion de menu de navegacion */
   nav > ul li a{
       color: white;
       display: block;
       line-height: 20px;
       padding: 10px;
       position: relative;
       text-align: center;
       text-decoration: none;
       -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
       -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
       transition: all .13s ease;
   }
   nav > ul >li >ul >li a:hover{
       background: rgba(231, 106, 33, 0.356);
   }
   nav >ul >li > a span{
       background: #1744595d;
       display: block;
       height: 42px;
       width: 100%;
       left: 0;
       position: absolute;
       top: -35px;
       -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
       -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
       transition: all .3s ease;
   }
   nav >ul >li > a span .fas{
       display: block;
       line-height: 40px;
       color: aqua;
   }
   nav >ul >li > a span .fab {
       display: block;
       line-height: 40px;
       color: aqua;
   }
   nav >ul >li > a span  .far{
       display: block;
       line-height: 40px;
       color: aqua;
   }
   nav >ul >li > a:hover > span{
       top: 0;
   
   }
   
   
   nav h2{
       font-size: 40px;
       text-align: center;
       line-height: 2px;
       color: #fff;
    }
   /*colores de logos*/
   .min1 {
       color: #fff;
   }
   nav ul li a .primero {
       background: rgb(5, 3, 100);
   }
   nav ul li a .segundo {
       background: #6d9bf1;
   }
   nav ul li a .tercero{
       background: #6d9bf1
   }
   nav ul li a .cuarto{
       background: rgb(5, 3, 100);;
   }
   /*------------Encabezado------------------------------------------------*/
   header{
       height:100px;
       overflow: hidden;
   }
   #tras{
       background:rgba(5, 27, 22, 0.651) ;
       width: 100%;
       height: 42px;
       position: absolute;
   
   }
   #cajaheader{
       background: url(../../IMG/posiblefondo.jpg);
       width: 100%;
       height: 42px;
       position: absolute;
   }
   #logo1{
       
       display: inline;
       position: absolute;
       bottom: 180px;
       left: 43%;
   }
   
   
   h1{
       margin-top: 50px;
       margin-bottom: 7px;
       text-align: center;
       padding: 5px;
       color: #000;
       font-size: 40px;
   
   }
   footer{
       text-align: center;
      /* background:url(../IMG/foother.jpg);*/
   }
   /*---------------------------------------------------------------------------------------------------*/
   article{
       display: inline-block;
       width: 50%;
       height: 300px;
   }
   a{
       text-decoration: none;
       color: black
   }
   h2{
       font-size: 40px;
   }
   #ImUsuario{
       display: block;
   }
   #Usuarios{
       width: 48%;
   }
   #Usuarios>h2{
    color: black;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 110px;
   }
   #Usuarios >h2:hover{
       color:  rgb(205, 206, 255);
       
     opacity: 1;
     transform: scale(1.1,1.1);
     transition: opacity 1s,box-shadow 1s,transform 1s;
    }
    #DesUsuarios>h2{
        color: black;
        text-align: center;
        margin-bottom: 60px;
    }
    #DesUsuarios >h2:hover{
        color:  rgb(205, 206, 255);
        opacity: 1;
        transform: scale(1.1,1.1);
        transition: opacity 1s,box-shadow 1s,transform 1s;
    }
